
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <base href="/admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/assets/js/admin/inline.bundle.js"></script>
    <script type="text/javascript" src="~/assets/js/admin/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/assets/js/admin/styles.bundle.js"></script>
    <script type="text/javascript" src="~/assets/js/admin/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/assets/js/admin/main.bundle.js"></script>
</body>
</html>
